@charset "UTF-8";

html, body {
   height: 100%
}

body {
   display: table;
   width: 100%;
   margin: auto;
   background: #fff;
}

#driver{
   list-style: none;
   width: 190px;
   height: 0.5px;
   background-color: #ececec;
}

article {
   width: 100%;
   height: 10%
}


/* headerArticle(헤더 상위) */
.headerArticle {
   overflow: hidden;
   width: 100%;
   height: 8.2%; 
   color: black;
}

/* 헤더 */
.header {
  overflow: hidden;
  background-color: rgba(45,45,45,0.98);
  /* padding: 20px 10px; */
  height: 41;
}

/* 로그인 전 헤더 right 부분 */
.header-right{
  right: 0px;
  width: 140px;
  padding: 12px;
  float: right;
}
.header-login-right{
	right: 0px;
  	width: 320px;
  	padding: 12px;
  	float: right;
}
.logo{
   padding: 12px;
   float: left;
}
.submit {
   border: none;
    background-color: black;
    color: white;
    width: 500px;
    height: 50px;
    font-size: 25px;
    font-family: fantasy;
}

/* index 화면 관리 */
/* 글 관리 */
h2 {
  font-family: fantasy, "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
  color: #4e4e4e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  line-height: 0.75;
}
span {
  display: block;
  
}
/* 글 사라짐 시간 조정 */
span.subfont:not(.light) {
  opacity: 0;
  animation: flashText .5s ease-out alternate infinite;
}
/* 글 반짝임 옵션 */
span.light {
  position: relative;
  display: inline-block;
  
  &:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0.5;
    animation: flash .5s ease-out alternate infinite;
  }
}
/* 메인 글 투명도 */
@keyframes flash{
  to {
    opacity: 1;
  }
}
/* 서브 글 투명도 */
@keyframes flashText {
  to {
    opacity: 0.25;
  }
}
/*  .header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-style: nomal;
  line-height: 25px;
  border-radius: 4px;
}  */

/* popover 관리 */
.popover_content_wrapper{
   position: fixed;
}
.popover {
    margin-top: -20px;
}
.popover.right .arrow {
    margin-top: 8px;
}
/* popover 고정 (묻힘 방지) */
.popover.bottom{
   position: fixed;
} 
/* popover content */
.contentWrap {
   display: none;
   border: 1px solid black;
   /* margin-top: 10px; */
   width: 200px;
}
ul{
   padding-left: 15px;
}
li {
   list-style: none;
   margin: 10px;
}


/* 상단 바 고정 */
.jbFixed {
        position: fixed;
        top: 0px;
        height: 10%
      }

/* login 후 헤더 검색 */
.header-search{
   position: absolute;
   left: 120px;
   padding: 12px;
}
.search-text{
   font-color: white;
   /* opacity: 0; */
}

/* 전체 버튼 css 관리 */
/* before after 숨김처리, 기능적용 */
.pm-link{
   --uismLinkDisplay: var(--smLinkDisplay, inline-flex);   
   --uismLinkTextColor: var(--smLinkTextColor);
   --uismLinkTextColorHover: var(--smLinkTextColorHover);   
   
   display: var(--uismLinkDisplay);
   color: var(--uismLinkTextColor);
   position: relative;
   overflow: hidden;
}

/* 밑줄 제거 */
a.pm-link{
   text-decoration: none;
   margin-right: 30;
}

/* text 올라갈때 생기는 새로운 text */
.pm-link_text::before{
  content: attr(data-sm-link-text);
   color: var(--uismLinkTextColorHover);
  position: absolute;
}

/* 캔슬되는 모션 */
.pm-link_text::before, 
.pm-link_text .label{
  transition-property: transform;
   transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
   transition-duration: .3s;
}

/* 올라가는 시간 */
.pm-link_text:hover::before,
.pm-link_text:hover .label{
   transition-duration: .4s;
}

/* 마우스 올렸을때 원본 text */
.pm-link::before{
  left: 0;
  top: 0;
  transform: translate3d(0, 140%, 0);
}

/* text 올라간뒤 text */
.pm-link .label,
.pm-link:hover::before{
   transform: translate3d(0, 0, 0);
}

/* 아래서 위로 올라오는 text */
.pm-link:hover .label{
  transform: translate3d(0, -140%, 0);   
}

/* 외형 */
.pm-link{
   --smLinkLineWeight: 3.5px;   /* 선 굵기 */
   --smLinkLineColor: #fff;   /* 선 색상*/
   --smLinkTextColor: #fff;   /* 글 색상*/
   --smLinkTextColorHover: #fff;   /* 글 바뀐 후 색상 */
}
