@charset "UTF-8";

html, body {
   height: 100%
}

body {
   display: table;
   width: 100%;
   margin: auto;
   background: #fff;
}

#driver{
   list-style: none;
   width: 190px;
   height: 0.5px;
   background-color: #ececec;
}

article {
   width: 100%;
   height: 10%
}


/* headerArticle(헤더 상위) */
.headerArticle {
   overflow: hidden;
   width: 100%;
   height: 8.2%; 
   color: black;
}

/* 헤더 */
.header {
  overflow: hidden;
  background-color: rgba(45,45,45,0.98);
  /* padding: 20px 10px; */
  height: 41;
}

/* 로그인 전 헤더 right 부분 */
.header-right{
  right: 0px;
  width: 140px;
  padding: 12px;
  float: right;
}
.header-login-right{
   right: 0px;
     width: 320px;
     padding: 12px;
     float: right;
}
.logo{
   padding: 12px;
   float: left;
}
/* .submit {
   border: none; 
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-family: fantasy;
    cursor: pointer;
} */


/* index 화면 관리 */
/* 글 관리 */

/* h2 {
  font-family: fantasy, "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
  color: #4e4e4e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6rem;
  line-height: 0.75;
} */

.font-light {
  display: block;
  
}
/* 글 사라짐 시간 조정 */
.font-light.subfont:not(.light) {
  opacity: 0;
  animation: flashText .5s ease-out alternate infinite;
}
/* 글 반짝임 옵션 */
.font-light.light {
  position: relative;
  display: inline-block;
  
  &:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0.5;
    animation: flash .5s ease-out alternate infinite;
  }
}
/* 메인 글 투명도 */
@keyframes flash{
  to {
    opacity: 1;
  }
}
/* 서브 글 투명도 */
@keyframes flashText {
  to {
    opacity: 0.25;
  }
}
/*  .header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-style: nomal;
  line-height: 25px;
  border-radius: 4px;
}  */

/* popover 관리 */
.popover_content_wrapper{
   position: fixed;
}
.popover {
    margin-top: -20px;
}
.popover.right .arrow {
    margin-top: 8px;
}
/* popover 고정 (묻힘 방지) */
.popover.bottom{
   position: fixed;
} 
/* popover content */
.contentWrap {
   display: none;
   border: 1px solid black;
   /* margin-top: 10px; */
   width: 200px;
}
ul{
   padding-left: 15px;
}
li {
   list-style: none;
   margin: 10px;
}


/* 상단 바 고정 */
.jbFixed {
        position: fixed;
        top: 0px;
        height: 10%
      }

/* login 후 헤더 검색 */
.header-search{
   position: absolute;
   left: 120px;
   padding: 12px;
}
.search-text{
   font-color: white;
   /* opacity: 0; */
}

/* 전체 버튼 css 관리 */
/* before after 숨김처리, 기능적용 */
.pm-link{
   --uismLinkDisplay: var(--smLinkDisplay, inline-flex);   
   --uismLinkTextColor: var(--smLinkTextColor);
   --uismLinkTextColorHover: var(--smLinkTextColorHover);   
   
   display: var(--uismLinkDisplay);
   color: var(--uismLinkTextColor);
   position: relative;
   overflow: hidden;
}

/* 밑줄 제거 */
a.pm-link{
   text-decoration: none;
   margin-right: 30;
}

/* text 올라갈때 생기는 새로운 text */
.pm-link_text::before{
  content: attr(data-sm-link-text);
   color: var(--uismLinkTextColorHover);
  position: absolute;
}

/* 캔슬되는 모션 */
.pm-link_text::before, 
.pm-link_text .label{
  transition-property: transform;
   transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
   transition-duration: .3s;
}

/* 올라가는 시간 */
.pm-link_text:hover::before,
.pm-link_text:hover .label{
   transition-duration: .4s;
}

/* 마우스 올렸을때 원본 text */
.pm-link::before{
  left: 0;
  top: 0;
  transform: translate3d(0, 140%, 0);
}

/* text 올라간뒤 text */
.pm-link .label,
.pm-link:hover::before{
   transform: translate3d(0, 0, 0);
}

/* 아래서 위로 올라오는 text */
.pm-link:hover .label{
  transform: translate3d(0, -140%, 0);   
}

/* 외형 */
.pm-link{
   --smLinkLineWeight: 3.5px;   /* 선 굵기 */
   --smLinkLineColor: #fff;   /* 선 색상*/
   --smLinkTextColor: #fff;   /* 글 색상*/
   --smLinkTextColorHover: #fff;   /* 글 바뀐 후 색상 */
}

/* 로그인 div */
.loginWrap {
   width: 40%;
   margin: auto;
   margin-top: 80px;
}

/* 로그인 title */
.longinTitle {
   width: 100px;
   margin: auto;
}

/* 로그인 id, pw input box div */
.loginInputBoxWrap {
   width: 100%;
   margin-top: 10px;
}

/* 로그인 id, pw input box */
.loginInputBox {
   width: 100%;
   height: 38px;
   padding-left: 10px;
}

/* 로그인 save id div */
.saveId {
   margin: 10px 0px 10px 0px;
}

/* 로그인 비밀번호 변경/취소 */
.loginSubButtonWrap {
   width: 80%;
   margin: auto;
   margin-top: 40px;
   color: #5d5d5d;
}

/* 로그인 change, cancle button */
.loginSubButton {
   background-color: transparent;
   border: none;
   font-size: 14px;
   color: #5d5d5d;
   width: 47%;
   height: 30px;
   padding: 0px;
   cursor: pointer;
}

/* 로그인 submit 버튼 */
.loginSubmit {
   border: none; 
   background-color: black;
   color: white;
   width: 100%;
   height: 50px;
   font-size: 25px;
   font-family: fantasy;
   cursor: pointer;
}

/* 회원가입 div */
.joinWrap {
   width: 40%;
   margin: auto;
   margin-top: 80px;
}

.joinWrap h1 {
   font-size: 2em;
}

/* 회원가입 title */
.joinTitle {
   width: 72px;
   margin: auto;
}

/* 회원가입 fieldset */
.joinFiledset {
   border: none;
   padding: 0px;
}

/* 회원가입 input box div */
.joinInputBoxWrap {
   width: 100%;
   margin-top: 10px;
}

/* 회원가입 input box */
.joinInputBox {
   width: 100%;
   height: 38px;
   padding-left: 10px;
}

/* 회원가입 취소 */
.joinSubButtonWrap {
   width: 80%;
   margin: auto;
   margin-top: 40px;
   color: #5d5d5d;
}

/* 로그인 change, cancle button */
.joinSubButton {
   background-color: transparent;
   border: none;
   font-size: 14px;
   color: #5d5d5d;
   width: 100%;
   height: 30px;
   padding: 0px;
   cursor: pointer;
}

/* 회원가입 submit 버튼 */
.joinSubmit {
   border: none; 
   background-color: black;
   color: white;
   width: 100%;
   height: 50px;
   font-size: 25px;
   font-family: fantasy;
   cursor: pointer;
   margin-top: 20px;
}

/* 회원가입 id inputbox, button wrap */
.joinIdWrap {
   position: relative;
}

/* 회원가입 id 중복체크 button */
.duplicateCheck {
   position: absolute;
   top: 0px;
   left: 465px;
   height: 38px;
   border: none;
   background-color: transparent;
   color: black;
   cursor: pointer;
}

.duplicateCheck i {
   margin-top: 4px;
} 
/* search div */
.search-box{
   position: absolute;
    top: 22;
    left: 35%;
    transform: translate(-50%, -50%);
    height: 30px;
    background-color: 45,45,45,0.98;
}

/* search 마우스 hover */
.search-box:hover > .search-text{
width: 240px;
paddig: 0 6px;
}
/* search hover 후 */
.search-box:hover > .search-btn{
   background: 45,45,45,0.98;
}

/* search text */
.search-text{
   border:none;
   background: none;
   outline: none;
   float: left;
   padding: 0;
   color: white;
   font-size: 15px;
   transition: 0.4s;
   line-height: 40px;
   width: 0px;
}

/* search button */
.search-btn{
   color: #fff;
    float: right;
    width: 40;
    height: 30;
    border-radius: 50%;
    background: 45,45,45,0.98;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

/* project div */
.project-box{
   position: absolute;
    transform: translate(-50%, -50%);
    background-color: 45,45,45,0.98;
    padding-left: 20%;
}

/* project 마우스 hover */
.project-box:hover > .project-text{
width: 240px;
paddig: 0 6px;
}
/* project hover 후 */
.project-box:hover > .project-btn{
   background: 45,45,45,0.98;
}

/* project text */
.project-text{
   border:none;
   background: none;
   outline: none;
   float: left;
   padding: 0;
   color: black;
   font-size: 15px;
   transition: 0.4s;
   line-height: 40px;
   width: 0px;
}

/* project-add-btn */
.project-btn{
   color: black;
    float: right;
    width: 40;
    height: 30;
    border-radius: 50%;
    background: #795548;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
   background-color: transparent;
   cursor: pointer;
}
/* project-add-btn 아이콘 */
.fa-folder-plus{
	font-size: 30px;
}
/* project-card 위치 */
.project-center{
	margin: auto;
    width: 250px;
    padding-bottom: 50;
}
/* project-card (ul) */
.projectList{
	padding: 0;
	display: flex;
    flex-wrap: wrap;
}
/* project-card (li) */
.project-wrap{
	padding: 20 0 0 20;
}
/* .cancel{
	width: 140;
	height: 120;
	border: none;
	background: #9e9e9e;
	color: #fff;
} */

/* project-card 디자인 */
.project-card{
  position:relative;
  height:140px;
  width: 210px;
  padding:0 2em;
  background:#242424;
  border:none;
  font-size:1.6em;
  color:#fff;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: cursive, "돋움", dotum;
  font-size: large;
  border-radius:7px;
}
/* hover시 색상 */
.project-card:hover{
  background:#fff;
  color:#000000;
}
/* hover시 선 위치 (top)*/
.project-card:before,.cancel:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000000;
  transition:400ms ease all;
}
/* hover시 선 위치 (bottom)*/
.project-card:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
/* hover시 선 길이/속도 */
.project-card:hover:before,.cancel:hover:after{
  width:100%;
  transition:800ms ease all;
}
.profont-wrap{
	width: 250px;
}
.project-font{
	font-size: 40px;
}

.container {
	width: 500px;
	margin: 0 auto;
}

.list {
	list-style: none;
	padding-inline-start: 0px;
}

.list-input {
	width: 400px;
	padding: 10px;
	margin-bottom: 15px;
}

.list_item {
	margin: 0px;
}

.list_item .projectName {
	margin-bottom: 15px;
	-webkit-animation-name: list; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: list;
	animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes list {
  25%  {margin-top:30px;}
  50%  {background-color:#e2e2e2;}
  75%  {background-color:white;}
  100% {background-color:white;}
}

/* Standard syntax */
@keyframes list {
  25%  {margin-top:30px;}
  50%  {background-color:#e2e2e2;}
  75%  {background-color:white;}
  100% {background-color:white;}
}

.projectName {
	padding: 10px;
	width: 400px;
}