@charset "UTF-8";

html, body {
	height: 100%
}

body {
	display: table;
	width: 100%
}

#contentAll {
	width: 97%;
	height: 97%;
	display: table;
	
}

article {
	width: 100%;
	height: 10%
}

ul{
	padding-left: 15px;
}

li {
	list-style: none;
}

.contentWrap {
	display: none;
	border: 1px solid black;
	/* margin-top: 10px; */
	width: 200px;
}

.headerArticle {
	overflow: hidden;
	width: 100%;
	height: 15%;
	color: black;
}

.header {
  overflow: hidden;
  background-color: rgba(45,45,45,0.98);
  /* padding: 20px 10px; */
}

.header-right{
  position: absolute;
  right: 0px;
  width: 160px;
  padding: 12px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-style: nomal;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.popover {
    margin-top: -20px;
}

.popover.right .arrow {
    margin-top: 8px;
}

.header-search{
	position: absolute;
	left: 120px;
	padding: 12px;
}

.search-text{
	font-color: white;
	/* opacity: 0; */
}